<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <header>
            <h1>Hi my name is Christian Gonzalez and this is my first Django site!</h1>
        </header>
        <main>
            <section>
                <h3><a href="#"> My first Blog post!</a></h3>
            </section>
            </section>
            <section>
                <div><h3><a href="#">Ny second Blog Post!!!</a></h3></div>
            </section>
        </main>
        <footer> 

            <p>The end of my site bruh</p>
        </footer>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
